.search_bar {
    display: flex;
    background-color: var(--bg-darkYellow);
    align-items: center;
    border-radius: 5px;
}

.search_icon {
    padding:7px 12px 4px 12px;
}

.search_bar button {
    background: none;
    border: none;
    padding:0;
}

.search_bar:hover {
    background-color: #ffcc75;
}

.search_bar button:hover {
    cursor: pointer;
}

.search_bar input {
    height: 34px;
    border: none;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

.search_bar input:focus-visible {
    outline: none;
}
