.orders_container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.orders_title_and_date_picker {
    
}

.rdrDateRangePickerWrapper {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    filter:drop-shadow(2px 3px 15px rgba(0, 0, 0, 0.192)) ;
}
.orders_list_container {
    display: flex;
    flex-direction: column;
    align-self: start;
    
}

.orders_list {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding-inline:1rem !important;
    padding-top: 1rem !important;
    filter:drop-shadow(2px 3px 15px rgba(0, 0, 0, 0.192)) ;
}
.orders_controls_container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 242, 247);
    padding: .5rem;
    align-items: baseline;
    column-gap:2rem;
};

.orders_controls {
    display: flex;
    flex-direction: column;
}


.orders_controls input {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #7d888d;
    outline: none;
    border-radius: 4px;
    border:1px solid transparent;
    box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
}

.orders_controls .date_range_input {
    width: 280px ;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color:#1d2429 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color:rgba(46,58,79,1) !important ;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color:rgba(46,58,79,1)!important ;
    color:white;
}

.css-tlelie-MuiListItemText-root {
    flex: 0 0 60px !important;
}

.orders_product_image {
    border: 1px solid #b0b0b0;
    border-radius:5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.rdrDateDisplayItemActive input,.rdrDateDisplayItem input,.rdrMonthAndYearPickers select,.rdrWeekDay,.rdrDayNumber
,.rdrInputRangeInput,.rdrStaticRangeLabel{
    font-size: 1rem ;
    font-family: "Roboto","Helvetica","Arial",sans-serif
}

.rdrDefinedRangesWrapper  {
    font-size: .8rem !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif
}
@media (max-width:1200px) {
    .orders_list_container {
        width: 100%;
        
    }
    .orders_list{
        overflow-x: scroll;
    }
}

@media (max-width:700px) {
    .rdrDateRangePickerWrapper {
        flex-direction: column;
    }

    .rdrDefinedRangesWrapper {
        width: auto !important;
        border-right: none !important;
    }
}
