.googleLogin_container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    justify-content: start;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 5px;
    margin: .5rem 0 1rem 0;
    flex-grow: 1;
    box-shadow: 0px 1px 4px 1px rgba(38,38,38,0.45);
}

.googleLogin_container:hover {
    box-shadow: 1px 1px 4px 4px #C7DBFC;
    cursor: pointer;
}

.googleLogin_img {
    margin-left: 15px;
    padding:10px 0;
    height:25px;
    width:25px;
    content: url('../../../assets/images/google.png');
}

.googleLogin_text {
    color:grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left:25px;
    margin-right:20px;
}