.navbar {
    background-color: white !important;
    color:black !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--border-light-1);
    height: 64px;
}
.navbar_toolbar {
    display: flex;
    
}

.navbar_menu_button {
    margin-right: 2em;
    outline: none;
}

.navbar_avatar {
    padding: 11px 1rem;
    border-left: 1px solid var(--border-light-1)
}

.navbar_drawer_paper .MuiDrawer-paper{
    background: linear-gradient(180deg, rgba(222,72,84,1) 37%, rgba(223,43,57,1) 100%) !important;
    width: 120px !important;
    border: none !important;
     
    
 
 }

.navbar_drawer_perm_paper .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
   background: linear-gradient(180deg, rgba(222,72,84,1) 37%, rgba(223,43,57,1) 100%);
   width: 120px;
   border: none !important;
    
   

}

.navbar_contact_button {
    padding: 13px 1rem;
}

.navbar_shopping_cart {
    padding: 12px 1rem;
}
