.navbar {
    background-color: transparent !important;
    color:black !important;
    box-shadow: none !important;
    
}


.navbar_menu_button {
    outline: none;
}

.navbar_drawer_perm_paper .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
   background: linear-gradient(180deg, rgba(222,72,84,1) 37%, rgba(223,43,57,1) 100%);
   width: 100px;
   border: none !important;
}

.navbar_drawer_paper .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background: linear-gradient(180deg, rgba(222,72,84,1) 37%, rgba(223,43,57,1) 100%);
    width: 100px;
    border: none !important;
}

.navbar_contact_button {
    padding: 13px 0rem;
}






.css-12slcdh-MuiBadge-badge {
    background-color: #e6b45e !important;
    color:var(--bgDarkBlue) !important
}

