.product_card_header {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 1rem 1rem;
}

.product_card_buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_header_favorites {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product_addToCart_button {
  gap:.5rem;
  padding: .5rem 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: none;
    color: var(--bg-darkBlue);
    background: linear-gradient(180deg, #ffe39d 30%, #ffc675 81%);
    box-shadow: 0 2px 6px -3px rgb(0 0 0 / 30%);
    
}

.productDetail_addToCart_button {
  padding:1rem 2rem ;
  font-size: 1.5rem;
  font-weight: 600;
}

.productDetail_addToCart_button:active {
  opacity: .8;
}

.product_addToCart_button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #fdd433 30%, rgb(250, 177, 74) 81%);
}

.product_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productsPage_tree_container {
    background-color: var(--bg-brightYellow);
    padding: 1rem;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(2px 12px 15px rgba(90, 90, 90, 0.24));
    border-radius: 5px ;
 }

 .productsPage_drawer_open_button {
   position:fixed;
   border-radius: 50%;
   height: 40px;
   width:40px;
   right: 5px;
   top:50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:#ffe9c3 ;
   border: 1px solid var(--bg-darkBlue);
   color:var(--bg-darkBlue)

 }
 .productDetail_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
 }


 .productDetail_img_and_information {
  max-width: 1169px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
 }


 .productDetail_information {
  background-color: var(--bg-brightYellow);
  filter: drop-shadow(2px 3px 15px rgba(90, 90, 90, 0.24));
  border-radius: 5px ;
  color:var(--bg-darkBlue);
  padding: 1rem;
  min-width: 500px;
  flex-grow: 1;
 }

.productDetail_subtitles {
  padding-inline: 1rem;
  font-weight: 300;
}

.productDetail_subtitles_lg {
  padding-inline: 1rem;
  font-weight: 300;
  display:flex;
  justify-content: space-around;

}

 .productDetail_img_container {
  position: relative;
  font-family: 'Roboto', sans-serif;
   filter: drop-shadow(2px 3px 15px rgba(90, 90, 90, 0.24));
   background-color: white;
   border-radius: 5px ;
 }

.productDetail_img_container:hover img {
  transform: scale(1.2);
 }
.productDetail_img_xl {
  width: 500px;
  height:475px;
  transition: transform .5s ease;
 }

 .productDetail_img_lg_container {
  background-size: cover;
  aspect-ratio: 1/1;
  background-color: white;
  filter: drop-shadow(2px 3px 15px rgba(90, 90, 90, 0.24));
  border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 

 .productDetail_img_md {
  width: 400px;
  height: 400px;
  transition: transform .5s ease;
 }


 .productDetail_options {
  width: 100%;
  background-color: white;
  filter: drop-shadow(2px 3px 15px rgba(90, 90, 90, 0.24));
  border-radius: 5px ;
 }

 .productDetail_options .css-17hil4w-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  background-color: var(--bg-darkBlue) ;
  border-bottom:white;
 }

 .options_paragraph_width {
  text-align: justify;
  padding: 1rem;
 }



 @media(max-width:1386px) {
  .productDetail_subtitles_lg {
    justify-content: space-between;
  }
 }

 @media(max-width:1200px) {
  .productDetail_subtitles_lg {
    justify-content: space-around;
  }
  
 }

 @media (max-width: 700px ) {
  .productDetail_information {
    min-width: unset;
  }
  .productDetail_subtitles_lg {
    flex-direction: column;
}
.productDetail_img_lg {
  width: 400px;
}
 }

 @media (max-width:450px) {
  .productDetail_information {
    border-radius: 0;
  }
  .productDetail_options {
    border-radius: 0;
  }

  .productDetail_img_lg {
    width: 250px;
  }

  .productDetail_img_lg_container {
    border-radius: 0;
  }
 }






