.home_container {
    position: relative;
    width: 100%;
    
}

.home_footer_container {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(46,58,79,1);
    padding: 1rem 0;
    margin: 0 -32px;
    display: flex;
    justify-content: space-evenly;
}



.home_footer_section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1rem;
}

.home_footer_icon_and_text {
    display: flex;
    gap: 1rem;
}
.home_footer_icon_and_text_nogap {
    display: flex;
    gap:.3rem;
}

.home_footer_input {
    padding: .7rem 1rem;
    border-radius: 4px;
    font-family: 'Roboto', Helvetica, sans-serif;
    border: none;
    align-self: stretch;
}

.home_footer_input:focus-visible {
    outline: none;
}

.home_footer_input::placeholder {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-secondary);
}

.home_footer_button {
 
    font-weight: 600 !important;
}

.home_carousel_image {
    width: 200px !important;
}
.owl-carousel {
    margin-left: 100px;
    width: 1200px !important;
    margin-bottom: 5rem;
}
.home_carousel_and_prodPrew_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_products_preview {
    width: 1200px;
    margin-block-end: 5rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
.home_products_preview_B2LB129_img_cover,.home_products_preview_7736615989_img_cover,.home_products_preview_3300701_img_cover{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_products_preview_3300701_img_cover {
    max-width: 250px;
}

.home_products_preview_B2LB129_img_cover::before {
    position: absolute;
    content: '';
    height: 200px;
    left:30px;
    top:10px;
    width: 70%;
    filter:blur(8rem);
    background-color: #cbcbcb;
}


.home_products_preview_B2LB129_img{
    position: relative;
    z-index: 100;
    height: 271px;
    width: 250px;
    background-size: 291px;
    background-position:268px 0;
}

.home_products_preview_7736615989_img {
    
    z-index: 100;
    height: 271px;
    width: 250px;
    background-size: 600px;
    background-position: 420px -70px;

}

.home_products_preview_3300701_img {
    
    z-index: 100;
    height: 271px;
    width: 250px;
    background-size: 460px;
    background-position: 355px;
}

.home_title_secondary {
    position: relative;
    display: flex;
    width: 1200px;
    margin-left: -4rem
}

.home_title_secondary::after {
    content: '';
    width:0;
    height:0;
    position: absolute;
    left: 160px;
    bottom: 50px;
    border-style: solid;
    border-width: .5px 0 .5px 1000px;
    border-color: transparent transparent transparent #a8a8a8;


}
@media(max-width:1528px) {
    .owl-carousel {
        margin-left: 0;
    }
}

@media(max-width:1420px) {
    .home_footer_input::placeholder {
        font-size: .7rem;
        font-weight: 400;
    }
    .home_footer_input {
        padding: .5rem 1rem;
    }
    .home_footer_button {
        font-size: .7rem !important;
        font-weight: 400 !important;
    }
    .owl-carousel {
        width: 800px !important;
    }
    .home_products_preview {
        width: 800px;
        justify-content: space-between;
    }
    .home_title_secondary {
        width: 800px;
    }
    .home_title_secondary::after {
        border-width: .5px 0 .5px 700px;
    }

}

@media(max-width:1000px) {
    .home_footer_section {
        padding: .5rem 1rem;
    }
    .home_footer_container {
        flex-wrap:wrap;
        justify-content: space-around;
    }
    .owl-carousel {
        width: 600px !important;
    }
    .home_products_preview {
        width: 600px;
        justify-content: space-between;
    }
    .home_title_secondary {
        width:600px;
    }
    .home_title_secondary::after {
        border-width: .5px 0 .5px 500px;
    }
    .home_products_preview_B2LB129_img{
        
       
        width: 200px;
        background-size: 250px;
        background-position: 224px 15px;
    }
    
    .home_products_preview_7736615989_img {
        
        
        width: 200px;
        background-size: 500px;
        background-position: 350px -45px;
    
    }
    
    .home_products_preview_3300701_img {
        
       
        width: 200px;
        background-size: 350px;
        background-position: 269px;
    }



}
@media(max-width:700px) {
    .home_products_preview{
        width:380px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home_title_secondary {
        width: 400px;
        margin-left: 0rem;
    }
    .home_title_secondary::after {
        border-width: .5px 0 .5px 280px;
    }
    .owl-carousel {
        width: 300px !important;
        margin-left: 100px
    }
}


@media(min-width:900px) {
    .home_footer_container{
        width: calc( 100% + 104px);
        margin: 0 -52px;
    }
}
@media(max-width:500px) {
    .home_title_secondary {
        width: unset;
    }
    .home_title_secondary::after {
        display: none;
    }
}

@media(max-width:450px) {
    .home_footer_container{
        width: 100%;
        margin:0;
    }
    .home_products_preview {
        width: 200px;
    }
    .owl-carousel {
        width: 200px !important;
        margin-left: 0;
        margin-inline:auto;
    }
}