.home_container {
    width: 100%;
    
}

.home_footer_container {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(46,58,79,1);
    padding: 1rem 0;
    margin: 0 -32px;
    display: flex;
    justify-content: space-evenly;
}



.home_footer_section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1rem;
}

.home_footer_icon_and_text {
    display: flex;
    gap: 1rem;
}
.home_footer_icon_and_text_nogap {
    display: flex;
    gap:.3rem;
}

.home_footer_input {
    padding: .7rem 1rem;
    border-radius: 4px;
    font-family: 'Roboto', Helvetica, sans-serif;
    border: none;
    align-self: stretch;
}

.home_footer_input:focus-visible {
    outline: none;
}

.home_footer_input::placeholder {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-secondary);
}

.home_footer_button {
 
    font-weight: 600 !important;
}

.home_carousel_image {
    width: 200px !important;
}
@media(max-width:1400px) {
    .home_footer_input::placeholder {
        font-size: .7rem;
        font-weight: 400;
    }
    .home_footer_input {
        padding: .5rem 1rem;
    }
    .home_footer_button {
        font-size: .7rem !important;
        font-weight: 400 !important;
    }

}

@media(max-width:1000px) {
    .home_footer_section {
        padding: .5rem 1rem;
    }
    .home_footer_container {
        flex-wrap:wrap;
        justify-content: space-around;
    }

}


@media(min-width:900px) {
    .home_footer_container{
        width: calc( 100% + 104px);
        margin: 0 -52px;
    }
}

@media(max-width:450px) {
    .home_footer_container{
        width: 100%;
        margin:0;
    }
}