
.home_banner_container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    filter: drop-shadow(2px 3px 15px rgba(90, 90, 90, 0.24));
    border-radius: 5px ;
    padding:1rem;
}

.home_container_lg {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_container {
    position: relative;
}

