.home_banner_container {
    width: 100%;
    background-image: url(../../assets/images/istockphoto-1195856917-612x612-fococlipping-HD\ \(1\).png);
    height: 500px;
    background-repeat: no-repeat;
    background-position:top;
}



.home_container_lg {
    position: relative;
    overflow: hidden;
}





.home_container {
    position: relative;
    margin-inline: -32px;
    border-top: 1px solid white;
    width: calc( 100% + 64px )
}

@media (min-width:1339px) {
    .home_container_lg::before{
        display: block;
    }

    .home_container_lg::after {
        display: block;
    }
}

@media (max-width:1200px) {
    .home_container_lg {
        margin-inline: -52px;
        width: calc( 100% + 104px );
        border-radius: 0;
        border:1px solid white;
    }
}
