:root {
    --bg-darkBlue: #2E3A4F;
    --bg-brightRed:#de4854;
    --bg-brightYellow:#FFF8ED ;
    --bg-darkYellow: #e6b45e;
    --bg-dividerYellow:#ffe9c3;
    --bg-darkRed:#D73C4A;
    --bg-lightSecondary:#F7F9F9;
    --color-secondary:#b0b0b0;
}

.root {
    display: flex;
    background-color: var(--bg-light);
    min-height: 100vh;
    position: relative;
}

.content {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    padding: 80px 32px 0 32px ;
    width: 100%;
    justify-content: flex-start;
    background-color: var(--bg-lightSecondary);  
}

.content::before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    height:180px;
    width:100%;
    background: linear-gradient(180deg, rgba(88,110,149,1) 19%, rgba(46,58,79,1) 100%);
}

.content_lg {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    padding: 80px 52px 0 152px;
    width: 100%;
    justify-content: center;
    background-color: var(--bg-lightSecondary);
}
.content_lg:before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    height:180px;
    width:100%;
    background: linear-gradient(180deg, rgba(88,110,149,1) 19%, rgba(46,58,79,1) 100%);

}

.divider {
    height: 3px;
    background-color: var(--bg-dividerYellow);
    border-radius:1px ;
    margin-inline: 1rem;
    margin-bottom: 2rem;
}