:root {
    --bg-darkBlue: #2E3A4F;
    --bg-brightRed:#de4854;
    --bg-brightYellow:#FFF8ED ;
    --bg-darkYellow: #e6b45e;
    --bg-darkRed:#D73C4A;
    --bg-lightSecondary:#F7F9F9;
}

.root {
    display: flex;
    height: 100vh;
    background-color: var(--bg-light);
}

.content {
    display: flex;
    flex-grow: 1;
    padding: 96px 32px 0 32px ;
    width: 100%;
    justify-content: flex-start;
    background-color: var(--bg-lightSecondary);
    
    
}

.content_lg {
    display: flex;
    flex-grow: 1;
    padding: 96px 152px 0 152px;
    width: 100%;
    justify-content: center;
    background-color: var(--bg-lightSecondary);
}