.team_container {
    display: flex;
    flex-direction:column;
}

.team_divider {
    position: relative;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team_divider:after {
    position: absolute;
    z-index: 1000;
    bottom:-16px;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color:white transparent transparent  transparent
}

.team_members_container_left {
    position: relative;
    padding: 3rem;
    min-height: 600px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.team_members_container_left{
    background-position-x:30% ;
   }
   .team_members_container_right:not(.team_members_container_right:first-of-type), .team_members_container_left {
    padding-top: 0;
   }

.team_members_container_right {
    position: relative;
    padding: 3rem;
    min-height: 600px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:65%;
}

.team_container div:nth-child(3) {
    background-position-x: 50%;
    background-size: 1100px;
    background-position-y: 0;
}
.team_twitter_bg_circle {
    height: 40px;
    width:  40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1EA1F2;
    border-radius:50%;
}
.team_member_info_container_right {
    position:absolute;
    left:50%;
    background-color: white;
    padding: 1.5rem;
    max-width: max-content;
    display: flex;
    flex-direction: column;
}

.team_member_info_container_left {
    position:absolute;
    right:50%;
    background-color: white;
    padding: 1.5rem;
    max-width: max-content;
    display: flex;
    flex-direction: column;
}

@media (max-width:1536px) {
   .team_members_container_left {
     background-position: 15%;
   }
   .team_members_container_right:first-of-type {
    background-position: 75%;
   }
}

@media (max-width:1200px) {
    .team_members_container_right {
        background-position:120%;
    }
    .team_members_container_right:not(.team_members_container_right:first-of-type), .team_members_container_left {
        border-top: 3px solid #f0f0f0;
        padding-top: 3rem;
       }
    
}

@media (max-width:900px) {
    .team_members_container_right:not(.team_members_container_right:first-of-type), .team_members_container_left {
        border-top: none;
       }
    .team_member_info_container_right br {
        display: none;
    }
    .team_member_info_container_left br {
        display: none;
    }

    .team_member_info_container_right {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
    }
    .team_member_info_container_left {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 1rem;
    }
   
    .team_members_container_right {
        background-position: 72% !important;
    } 
}


@media (max-width:600px) {
    .team_members_container_left, .team_members_container_right {
        background-size: 500px;
        height: 700px;
        background-position: top !important;
    }
    .team_members_container_right:not(.team_members_container_right:first-of-type) {
        background-position-x: 85% !important;
    }

}
